---
import Header from "../components/layout/Header.astro";
import WhatsAppButton from "../components/home/WhatsAppButton.tsx";
import { SEO } from "astro-seo";
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
  openGraph?: {
    basic: {
      title: string;
      type: string;
      image: string;
      url: string;
    };
    optional?: {
      audio?: string;
      description?: string;
      determiner?: string;
      locale?: string;
      localeAlternate?: string[];
      siteName?: string;
      video?: string;
    };
  };
  keywords?: string[]; // lo usamos solo para generar meta manual
}

const { 
  title = "Espacio Impro Cusco", 
  description, 
  openGraph,
  keywords
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO principal -->
    <SEO
      title={title}
      description={description}
      openGraph={openGraph}
      extend={{
        meta: keywords ? [{ name: "keywords", content: keywords.join(", ") }] : []
      }}
    />
  </head>
  <body>
    <Header />
    <slot />

    <!-- Botón de WhatsApp -->
    <WhatsAppButton client:only="react" />
  </body>
</html>
